<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">User List</a></li>
            <li class="main-header__item"><a href="/user-input">Input</a></li>
        </ul>
    </nav>
</header>